.container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}